In [ ]:
def multiply_numbers(numbers):
  result = 1
  for number in numbers:
        result *= number
  return result
numbers_list = [1, 2, 3, 4, 5]
print(multiply_numbers(numbers_list))
another_numbers_list = [2, 3, 10]
print(multiply_numbers(another_numbers_list))

120
60

In [ ]:
def find_max_of_three(numbers):
  if len(numbers) < 3:
     return "The list should contain at least three numbers."
  else:
     return max(numbers)
numbers_list = [5, 10, 15, 20, 25]
print(find_max_of_three(numbers_list))
three_numbers_list = [3, 1, 2]
print(find_max_of_three(three_numbers_list))

25
3

In [ ]:
def reverse_list(input_list):
    return input_list[::-1]
print(reverse_list([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [ ]:
def is_within_range(number, range_min, range_max):
    return range_min <= number <= range_max
print(is_within_range(5, 1, 10))  # Should return True
print(is_within_range(15, 1, 10))  # Should return False

True
False

In [ ]:
def count_case(s):
    upper, lower = 0, 0
    for char in s:
        if char.isupper():
            upper += 1
        elif char.islower():
            lower += 1
    return upper, lower
upper_count, lower_count = count_case("Hello World")
print(f"Upper case: {upper_count}, Lower case: {lower_count}")

Upper case: 2, Lower case: 8

In [ ]:
def unique_list(l):
    return list(set(l))
print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print("After append:", my_list)
my_list.remove(2)
print("After remove:", my_list)
my_list.insert(1, 2)
print("After insert:", my_list)
my_list.pop()
print("After pop:", my_list)

After append: [1, 2, 3, 4]
After remove: [1, 3, 4]
After insert: [1, 2, 3, 4]
After pop: [1, 2, 3]

In [ ]:
def list_to_dict(input_list):
    return dict(input_list)
print(list_to_dict([(1, 'a'), (2, 'b'), (3, 'c')]))

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
def extract_keys(sample_dict, keys):
    return {key: sample_dict[key] for key in keys if key in sample_dict}
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
keys = ["name", "salary"]
print(extract_keys(sample_dict, keys))

{'name': 'Kelly', 'salary': 8000}

In [ ]:
def min_value_key(sample_dict):
    return min(sample_dict, key=sample_dict.get)
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
print(min_value_key(sample_dict))

Math

In [ ]:
def sort_dict_desc(sample_dict):
    return dict(sorted(sample_dict.items(), key=lambda item: item[1], reverse=True))
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50
}
print(sort_dict_desc(sample_dict))

{'chemistry': 89, 'Physics': 82, 'history': 75, 'Math': 65, 'GK': 50}